-
  let type = "article"
  let title = current.pageTitle + " | " + siteName;
if current.path === "/"
  - type = "website"
  - title = current.pageTitle
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{title}
//- og
meta(name="description", content=meta.description)
meta(property="og:site_name", content=siteName)
meta(property="og:type", content=type)
meta(property="og:title", content=title)
meta(property="og:description", content=meta.description)
meta(property="og:image", content=meta.ogimg)
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:site", content="@yend724")
meta(property="twitter:creator", content="@yend724")
link(rel="canonical", href="https://code-shed.dev" + current.path)
//- google fonts
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.https://fonts.gstatic.com", crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap")