doctype html
html(lang="ja")
  head
    include /pug-modules/includes/head.pug
  body
    .l-wrapper
      .l-content
        header.l-header
          h1#js-site-title.site-title
            span.site-title__text #{siteName}
          div.sns-icons#js-site-icons
            a.fa-brands.fa-twitter.sns-icons__icon(href="https://twitter.com/yend724" target="_blank" rel="noopener noreferrer")
              span.sns-icons__text Twitterへのリンク
            a.fa-brands.fa-github.sns-icons__icon(href="https://github.com/yend724/code-shed" target="_blank" rel="noopener noreferrer")
              span.sns-icons__text GitHubへのリンク
        //- .l-canvas#js-l-canvas
        //-   canvas#canvas
        main#js-l-main.l-main
          p.site-description #{meta.description}
          ul#js-link-list.link-list
            each page, i in pages
              if page.category === "code"
                li.link-list__item
                  a.link-list__link(href=page.path, data-index=i+1) #{page.pageTitle}
    script(src="/assets/js/index.ts" type="module" defer)
